<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body style="padding-top: 90px;">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<div class="d-flex flex-row text-center">
							<div class="col-md-6">
								<a class="btn" id="login-form-link"
									onclick="showContents('login')">Login</a>
							</div>
							<div class="col-md-6">
								<a class="btn" id="register-form-link"
									onclick="showContents('register')">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<%
						Cookie[] cookies = request.getCookies();
						String username = "";
						String password = "";
						String remember = "";
						if (cookies != null) {
							for (Cookie cookie : cookies) {
								if (cookie.getName().equals("username")) {
									username = cookie.getValue();
								}
								if (cookie.getName().equals("password")) {
									password = cookie.getValue();
								}
								if (cookie.getName().equals("remember")) {
									remember = cookie.getValue();
								}
							}
						}
					%>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="content fadein" id="login" action="CheckLogin"
									method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" autocomplete="off"
											tabindex="1" class="form-control" placeholder="Username"
											value="<%=username%>">
									</div>
									<div class="form-group">
										<input type="password" name="password" autocomplete="off"
											tabindex="2" class="form-control" placeholder="Password"
											value="<%=password%>">
									</div>
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" name="remember" value="1"
											<%="1".equals(remember.trim()) ? "checked='checked'" : ""%>>
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row justify-content-md-center">
											<div class="col-sm-6">
												<input type="submit" name="login-submit" id="login-submit"
													tabindex="4" class="form-control btn btn-primary btn-sm"
													value="Log In">
											</div>
										</div>
									</div>
								</form>
								<form class="content fadein" name="Form" id="register" action="AddUser"
									onsubmit="return validateForm()" method="post"
									style="display: none;">
									<div class="form-group">
										<input type="hidden" name="profile" tabindex="1"
											class="form-control" value="profile.png">
									</div>
									<div class="form-group">
										<input type="text" name="first_name" tabindex="1"
											class="form-control" placeholder="First name">
									</div>
									<div class="form-group">
										<input type="text" name="last_name" tabindex="1"
											class="form-control" placeholder="Last name">
									</div>
									<div class="form-group">
										<input type="text" name="email" tabindex="1"
											class="form-control" placeholder="Email">
									</div>
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1"
											class="form-control" placeholder="Username"> <span
											class="text-danger" id="result"></span>
									</div>
									<div class="form-group">
										<input type="password" name="password" tabindex="2"
											class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<div class="row justify-content-md-center">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit"
													id="register-submit" tabindex="4"
													class="form-control btn btn-primary btn-sm"
													value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	showContents("login");
	
	$(document).ready(function() {
		$('#username').change(function() {
			var username = $('#username').val();
			$.ajax({
				type:'POST',
				data:{username:username},
				url: 'AddUser',
				success: function(result) {
					$('#result').html(result);
				}
			});
		});
	});
	
	function validateForm() {
		var a = document.forms["Form"]["first_name"].value;
		var b = document.forms["Form"]["last_name"].value;
		var c = document.forms["Form"]["email"].value;
		var d = document.forms["Form"]["username"].value;
		var e = document.forms["Form"]["password"].value;
		if (a == null || a == "", b == null || b == "", c == null || c == "",
				d == null || d == "", e == "" || e == null) {
			alert("Please Fill All Required Field");
			return false;
		}
	}
		
</script>
</html>